:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #cdcdcd;
  --gray-300: #b4b4b4;
  --gray-400: #9b9b9b;
  --gray-500: #676767;
  --gray-600: #424242;
  --gray-700: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --brand-purple: #ab68ff;
}

.dark {
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-400);
  --text-quaternary: var(--gray-500);
  --border-light: hsla(0, 0%, 100%, 0.1);
  --border-medium: hsla(0, 0%, 100%, 0.15);
  --border-heavy: hsla(0, 0%, 100%, 0.2);
  --border-xheavy: hsla(0, 0%, 100%, 0.25);
  --main-surface-primary: var(--gray-800);
  --main-surface-secondary: var(--gray-700);
  --main-surface-tertiary: var(--gray-600);
  --sidebar-surface-primary: var(--gray-900);
  --sidebar-surface-secondary: var(--gray-800);
  --sidebar-surface-tertiary: var(--gray-700);
  --link: #7ab7ff;
  --link-hover: #5e83b3;
}
